@import url("/css/frame.css");

.navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bg-fabric {
    background-image: linear-gradient(#00000000,80%,#000000), url("/assets/fabric-black-landscape-thumb.webp");
    transition: background-image 0.5s ease-in-out;
}

.navbar {
    opacity: 0;
    transition: opacity 0.5s;
}

.navbar:hover {
    opacity: 1;
}

section:nth-child(odd) {
    background-color: var(--bs-light);
}

#galleryViewMore {
    cursor: pointer;
}

footer nav a {
    margin-right: 15px;
}